extends layout

block main
  div(class="container")
    h2(class="item artist")= review.artist
    h1(class="item title")= review.title
    div(class="item cover")
      img(src=`${review.cover_art}`)
    div(class="item score-box")  
      div(class="score-circle")
        span(class="score")= (review.score*0.1).toFixed(1)
  div(class="album-detail")
      p(class="detail")= review.detail
  div(class="review_container")
    p(class="review_text")= review.review_text
    a(class="review_edit" href=`/reviews/${review.id}/edit`) ... edit review
    
block headerLinks
  .actions
    a.add(href="/reviews/new") Add a review
    form(method="post" action="/users/signout")
      input(type="hidden" name="extra_submit_param" value="extra_submit_value")
      button(type="submit" value="") Sign Out
    div
      img(src="/images/logo.png" alt="flying pigs logo"  class="logo")
